body {
    margin: 0;
    padding: 0;

    background: rgb(47,69,80);
    background: linear-gradient(90deg, rgba(47,69,80,1) 9%, rgba(88,111,124,1) 32%, rgba(184,219,217,1) 100%);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auxiliar {
    padding-left: 10px;
    width: 200px;
    height: 30px;
    background-color: white;
    text-align: center;
    gap: 30px;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.dashboard {
    width: 980px;
    height: 200px;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid blue;

    display: flex;
    
}
.receita-desp {
    flex: 4;
    
    font-size: 23px;
    margin-left: 40px;
}


.container-rc {
    display: flex;

    margin-top: 10px;
    margin-left: 30px;
}
.valores {
    width: 150px;
    height: 70px;
    background-color: aqua;
    border-radius: 5px;
    font-size: 23px;
    margin-left: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.valores p {
    margin: 0;
}
.valores h2 {
    line-height: 15px;
    font-size: 10px;
}


.buttons {
    flex: 3;
}
.saldo {
    flex: 4;
}

.Listas {
    margin-top: 20px;
    width: 980px;

    display: flex;
    
    

}

.Despesas {
    width: 490px;
    height: 600px;
    background-color: white;

    border-radius: 20px;
}
.Receitas {
    width: 490px;
    height: 600px;
    background-color: white; 
    margin-left: 20px;

    border-radius: 20px;
}

footer {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}