body {
    font-family: Arial, Helvetica, sans-serif;
    

    background: rgb(47,69,80);
    background: linear-gradient(90deg, rgba(47,69,80,1) 9%, rgba(88,111,124,1) 32%, rgba(184,219,217,1) 100%);
}

.tela-login {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;

    color: white;
}

.tela-login input {
    padding: 12px;
    border: none;
    outline: none;
    font-size: 15px;
}

.tela-login .buttonSubmit {
    background-color: rgb(30, 255, 169);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.tela-login .buttonSubmit:hover {
    background-color: rgba(0, 255, 157, 0.767);
}

#cadastro {
    position: absolute;
    top: 70%;
    left: 43%;

    color: white;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 3px 10px 3px 10px;
}

#cadastro a {
    text-decoration: none;
    color: green;
}