#auxiliar {
    padding-left: 10px;
    width: 450px;
    height: 30px;
    background-color: rgb(36, 35, 35);
    text-decoration: none;
   
    display: flex; 
    text-align: center;
    justify-content: space-between;

    border-radius: 10px;


    padding: 7px 20px 0px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0,0.7);
}

#auxiliar img {
    width: 24px;
    height: 24px;
}

.dashboard {
    width: 80%;
    height: 200px;
    background: rgb(36, 35, 35);
    box-sizing: border-box;
    border-radius: 7px;
    
    color: white;

    display: flex;
    
    box-shadow: 4px 4px 5px  rgba(0, 0, 0,0.7);
    
    
}
.receita-desp {
    flex: 4;
    
    font-size: 23px;
    margin-left: 40px;
}


.container-rc {
    display: flex;

    margin-top: 10px;
    margin-left: 30px;
}
.valores {
    width: 150px;
    height: 70px;
    background-color: rgba(3, 78, 41, 0.452);
    border-radius: 5px;
    font-size: 17px;
    margin-left: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px black;
}
.valores p {
    margin: 0;
}
.valores h2 {
    line-height: 15px;
    font-size: 10px;
}


.buttons {
    flex: 3;
}
.saldo {
    flex: 4;
    width: 50px;
    height: 130px;
    background-color: rgba(129, 133, 133,0.1);
    border-radius: 5px;
    font-size: 23px;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.saldo p {
    margin: 0;
}
.saldo p:first-of-type {
    font-size: 16px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    

    
}
.buttons button:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 120px;

    border-radius: 7px;
}
.buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80px;
    height: 120px;
    border-radius: 7px;
    cursor: pointer;

    background: rgba(129, 133, 133,0.1);
    color: rgb(145, 145, 145);

    border: none;
}

.buttons button:hover {
    background-color: rgb(68, 68, 68);
}


.buttons img {
    width: 40px;
    
}