<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="../CSS//index/body.css">
    <link rel="stylesheet" href="../CSS/index/dashboard_saldos.css">
    <link rel="stylesheet" href="../CSS/modal.css">
    <link rel="stylesheet" href="../CSS/index/table.css">
    <link rel="stylesheet" href="../CSS/index/footer.css">
    <link rel="stylesheet" href="../CSS/index/logo.css">
    


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="auxiliar"> <a href="">Home</a> <a href="">Perfil</a> <a href="">Relátorio</a></div>
    <div class="container">
        <div id="logo">
            <img src="../src/wallet.png" alt="">
            <img src="../src/wallet.png" alt="">
            <img src="../src/wallet.png" alt="">
            <img src="../src/wallet.png" alt="">
        </div>
        
        <div class="dashboard">
                <div class="receita-desp">

                    <div class="congrats">
                            <p> <small style="font-size: 18px;color: rgb(82, 82, 82);">Boa tarde,</small><br>
                                                    João Vitor Rodrigues!
                            </p>

                    </div>
                    <div class="container-rc">
                        <div class="valores">
                            <p>Despesas
                            </p>
                            <p id="despesas-Global">R$ 0.00</p>
                        </div>
                        <div class="valores">
                            <p>Receitas
                            </p>
                            <p id="receitas-Global">R$ 0.00</p>
                        </div>
                    </div>
                    
                </div>
                

                <div class="saldo">
                    <p>Saldo geral</p>
                    <p id="saldo-Global">R$ 0.00</p> 
                </div>

                <div class="buttons">   
                    <button id="botaoDespesa"> <img src="../src/minus.png" alt="">Despesa</button> 
                    <button id="botaoReceita"> <img src="../src/plus.png" alt="">Receita</button>
                </div>
                
                
            
                
                    <dialog class="modal" id="modalDesp" > 
                        <h2> Inserir despesas</h2>
                        <hr>
                        <label for="valor">Valor R$:</label>
                        <input type="text" name="valor" id="valorDesp">
                        <br><br>
                        <label for="date"></label>
                        <input type="date" name="date" id="dataDesp">
                        <br><br>
                        <label for="desc">Descrição: </label>
                        <input type="text" name="desc" id="descDesp">
                        <br>
                        <br>
                        <div>
                            <button id="salvarD" >SALVAR DESPESA</button>
                            <button id="btnClose_Desp" >FECHAR</button>
                        </div>
                    </dialog>

                    <dialog class="modal" id="modalRece" > 
                        <h2> Inserir Receita</h2>
                        <hr>
                        <label for="valor">Valor R$:</label>
                        <input type="text" name="valor" id="valorRece">
                        <br><br>
                        <label for="date"></label>
                        <input type="date" name="date" id="dataRece">
                        <br><br>
                        <label for="desc">Descrição: </label>
                        <input type="text" name="desc" id="descRece">
                        <br>
                        <br>
                        <div>
                            <button id="salvarR">SALVAR RECEITA</button>
                            <button id="btnClose_Rece" >FECHAR</button>
                        </div>
                    </dialog>

                    
                   

             
        
                    <script src="../Controller/openModal.js"></script>



                
        </div>
        
       
       
    

    </div>
    <div class="Listas"> 
            <div class="Despesas">
                <table id="tabela_despesas">
                    <tr> <th>Editar</th><th>Valor</th><th>Descrição</th><th>Data</th> </tr>
                    
                    
                </table>


            </div>
            <div class="Receitas">
                
            </div>
    </div>

    <footer>    
        Feito por: João Vitor Rodrigues Santos
    </footer>
</body>
</html>