<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="../CSS/index.css">
</head>
<body>
    <div class="container">
        <div id="auxiliar"> <a href="">Home</a> <a href="">Perfil</a> <a href="">Relátorio</a></div>
        <div class="dashboard">
           
                <p>Boa tarde,
                    João Vitor
                </p>
                <div class="despesa">
                    R$ 200
                </div>
                <div class="receita">
                    R$ 832
                </div>
                <div class="saldo">
                    R$ 23.000
                </div>
                <button> Despesa</button>
                < button> Receita</button>
          
    </div>
    

    </div>
</body>
</html>