<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Receitas</title>
</head>
<body>
  <button id="botaoReceita">Receita</button>
  <div id="receitaInputContainer" style="display: none;">
    <input type="text" id="novaReceita" placeholder="Valor da receita">
    <button id="confirmarReceita">Confirmar</button>
  </div>
  <p id="saldo">Saldo: R$ 0.00</p>

  <script src="../Controller/test.js"></script>
</body>
</html>
